

$black: hsl(0, 2%, 12%);

$cyan: hsl(140, 100%, 50%);

$green_light: hsl(36, 100%, 50%);

$pink_roxo: hsl(342, 100%, 50%);
$white: hsl(0, 0%, 100%);
$marron: #1f2646e1;


//efeito global dos pontos piscando
//coloquei aqui para melhor manutenção do codigo.

.efect_ponter{

    animation: ponteiro 1s infinite;
}

@keyframes ponteiro{
    0%{
        opacity: 0;
    }
    50%,100%{
        opacity: 1;
    }
}